/* Universal Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;
}
h1,h2, h3{
    font-family: 'Merriweather', serif;
    font-weight: 900;
}
h1{
    font-size: 7.2rem;
    color: white;
}
h2{
    font-size: 6.4rem;
    color: white;
}
h3{
    font-size: 4.8rem;
}
h4{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 3.2rem;
    color: white;
}
.btn-primary{ 
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background: rgba(255, 255, 255, 0);
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 2.5rem ;

}
/* Header Elements */

header{
    width: 80%;
    margin: 0 auto;
    margin-top: 7rem;
}
.header-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('banner-image.png');
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
/* DEALS STYLES */
.deals{
    width: 80%;
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
    /* background: black; */
}
.off{
    font-size: 8.8rem;
    font-weight: 700;
    color: red;
}
.small-title{
    font-size: 2.4rem;
    font-weight: 400;
    color: red;
}
.large-title{
    font-size: 4.8rem;
    font-weight: 700;
}
.deals-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.deals-content img {
    padding-top: 3rem;
    width: 70rem;
}
/* WELCOME CARD */
.welcome-card{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
}
.welcome-card img{
    width: 31rem;
    padding: 5rem 0rem;
}
.welcome-texts{
    width: 68.1rem;
}
.welcome-texts p{
    font-size: 1.8rem;
    color: #ffffffba;
    line-height: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}